.App{
    text-align: center;
    background: #555;
    margin: 50px;
}
rect{
    fill: none;
    pointer-events: all;
}
text{
    fill: #ffffff;
    border: 1px solid #000000;
    font: 18px serif;
}
circle{
    stroke: #fff;
    stroke-width: 3px;
    fill: #555;
}
line{
    stroke-width: 3px;
    stroke: #ffffff;
}
h3.header{
    background: #303030;
    color: #fff;
    padding: 6px 0;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
}
.modalOne .team circle{
    fill: #fff;
}
.modalOne .foreign_title h3{
    width: 100px;
}
.modalOne .foreign_title .titlecard{
    width: 400px;
    height: 400px;
    background: #9a9a9a;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    position: relative;
    left: -95px;
}
.modalOne .foreign_title .titlecard h4{
    margin: 0;
    display: block;
    padding: 15px;
    text-align: left;
    color: #fff;
}
.modalTwo .team circle{
    fill: #fff;
}
.modalFive line{
    stroke-width: 3px;
}
.modalFive .node circle{
    stroke-width: 0;
    fill: #8a8a8a;
}
.modalFive .node.parent circle{
    stroke: #fff;
}
.modalThree .apiline, .modalFour .apiline{
    stroke-width: 1px;
    stroke: #484848;
}
.modalThree circle{
    stroke-width: 0;
    fill: #ffffff;
}
.modalFour .api circle{
    stroke-width: 0;
    fill: #8a8a8a;
}
