.App{
    text-align: center;
    background: #555;
    margin: 50px;
}
rect{
    fill: none;
    pointer-events: all;
}
text{
    fill: #ffffff;
    border: 1px solid #000000;
    font: 18px serif;
}
circle{
    stroke: #fff;
    stroke-width: 3px;
    fill: #555;
}
line{
    stroke-width: 3px;
    stroke: #ffffff;
}