.App{
    text-align: center;
    background: #7a7a7a;
    margin: 50px;
    position: relative;
}
rect{
    fill: none;
    pointer-events: all;
}
text{
    fill: #ffffff;
    border: 1px solid #000000;
    font: 18px serif;
}
circle{
    stroke: #fff;
    stroke-width: 3px;
    fill: #6f6f71;
}
line{
    stroke-width: 3px;
    stroke: #ffffff;
}
h3.header{
    background: #5f5f5f;
    color: #fff;
    padding: 6px 0;
    border-radius: 20px;
    font-size: 16px;
    cursor: inherit;
    margin: 0;
}
h3.header.pointer{
    cursor: pointer;
}
.parentTitle{
    position: absolute;
}
.parentTitle.left{
    bottom: 0;
    left: 0;
    margin: 0 0 25px 25px;
}
.parentTitle.right{
    bottom: 0;
    right: 0;
    margin: 0 25px 25px 0;
}
.parentTitle h2{
    margin: 0;
    color: #fff;
    background: #5f5f5f;
    padding: 10px;
    font-size: 18px;
    min-width: 150px;
    border-radius: 25px;
}
.companyModal{
    cursor: zoom-in;
}
.companyModal .team circle{
    fill: #fff;
}
.divisionModal .division{
    cursor: zoom-in;
}
.divisionModal .team{
    cursor: zoom-in;
}
.divisionModal .team circle{
    fill: #fff;
}
.teamModal .apiline, .developerModal .apiline{
    stroke-width: 1px;
    stroke: #6f6f71;
}
.teamModal circle{
    stroke-width: 0;
    fill: #fff;
}
.teamModal .api circle{
    fill: #a3a3a3;
}
.developerModal .api circle{
    stroke-width: 0;
    fill: #a3a3a3;
}
.apiModal line{
    stroke-width: 5px;
}
.apiModal .node circle{
    stroke-width: 0;
    fill: #a3a3a3;
}
.apiModal .node.parent circle{
    stroke: #fff;
}

.foreign_title h3{
    width: 100px;
    position: relative;
    z-index: 2;
}
.cardpopup{
    display: none;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -180px;
    cursor: default;
}
.cardpopup.active{
    display: block;
}
.cardpopup::after{
    display: block;
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
}
.titlecard{
    position: relative;
    z-index: 999;
    width: 300px;
    height: 355px;
    background: #b1b1b1;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 25px;
    text-align: left;
    box-shadow: 0px 2px 3px 0px rgba(95, 95, 95, 0.5);
}
.titlecard h3.title{
    text-align: center;
    background: #555;
    display: block;
    width: 70%;
    margin: auto;
    margin-top: -40px;
    padding: 5px;
    color: #fff;
    border-radius: 15px;
}
.titlecard h4{
    margin: 0;
    display: block;
    padding: 10px 0 0;
    text-align: left;
    color: #fff;
}
.titlecard ul.devstatus{
    margin: 0;
    padding: 0;
    list-style: inside;
}
.titlecard ul.devstatus li{
    margin: 5px 0;
    color: #333;
    font-size: 12px;
    list-style: none;
    padding-left: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-repeat: no-repeat;
    background-image: url(/user.svg);
    background-size: 30px;
}
.titlecard ul.devstatus li.devcount{
    padding-left: 0;
    background: none;
}
.titlecard ul.devstatus li.devcount img{
    display: inline-block;
    vertical-align: top;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
}
.titlecard ul.devstatus li.devcount img:nth-child(1){
    z-index: 3;
}
.titlecard ul.devstatus li.devcount img:nth-child(2){
    left: -20px;
    z-index: 2;
}
.titlecard ul.devstatus li.devcount img:nth-child(3){
    left: -40px;
    z-index: 1;
}
.titlecard ul.devstatus li.devcount span{
    display: inline-block;
    margin-top: 15px;
    margin-left: -35px;
}
.titlecard ul.apistatus{
    margin: 0;
    padding: 0px;
    list-style: inside;
}
.titlecard ul.apistatus li{
    margin: 10px 0;
    color: #333;
    font-size: 12px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.titlecard ul.apistatus li span.api_ico{
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    background-color: #a3a3a3;
    margin-right: 10px;
    border-radius: 50%;
    background-image: url(/api_ico.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    margin-top: -5px;
}
.titlecard ul.apistatus li:nth-child(2) span.api_ico{
    background-color: #a5e8a5;
}
.titlecard ul.apistatus li:nth-child(3) span.api_ico{
    background-color: #a5d3e8;
}
.titlecard ul.apistatus li:nth-child(4) span.api_ico{
    background-color: #e5e8a5;
}