.modelone h2{
    text-align: center;
    color: #fff;
    display: inline-block;
    background: #424242;
    padding: 5px 15px;
    border-radius: 6px;
    margin-bottom: 0;
    font-size: 18px;
    margin-top: 30px;
}